html {
	height: 100%;
}

body {
	background-attachment: fixed;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background-color: lightpink; 
	font-family: 'Charm';
	color: #ED0A3F;
	background-image:url("/asset/img/rose.png");
	background-repeat: no-repeat;
	background-position:100% 100%;
}

html, body {
	margin: 0px;
	padding: 0px;
}

header {
	background: mediumvioletred;
	display: flex;
	height:5%;
	align-items: center;
	justify-content: center;
}

header img {
	display:flex;
	height:50px;
	width:50px;
}

.head {
	height:5%;
	width:100%;
	background-color:hotpink;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: #C71585 3px 2px 10px;
}

footer {
	position: fixed;
	left:  0;
	bottom: 0;
	background-color:pink;
	width:100%;
	color:#1B1B1B;
}

#admin-panel {
	background-color: #FFA6C9;
	opacity: 0.2;
	justify-content: space-between;
	height: 5%;
	display: flex;
	width: 100%;

}

#content {
	height: 100%;
	width: 100%;
}

.char {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.tank img {
	box-shadow: 8px 8px 12px deeppink;
	height: 300px;
	width: 400px;
	border: 5px solid palevioletred;
	border-radius: 5px;
}

.tank h1 {
	text-align: center;
	text-shadow: #FF1493 3px 2px 10px;
}
